body {
  padding: 50px;
}
main {
  margin-top: 30px;
  padding: 20px 50px;
  width: 1000px;
  height: 1400px;
  border: 1px solid dimgray;
}

pre {
  padding: 50px;
  border: 1px solid dimgray;
  width: 270px;
}
.header {
  text-align: center;
  font-size: 3rem;
  height: 80px;
  border-bottom: 3px solid dimgray;
  margin-bottom: 30px;
}

.beitrag {
  width: 310px;
  border: 1px solid dimgray;
  text-align: center;
  font-size: 1.3rem;
}

.content {
  height: 1250px;
}

.footer {
  border-top: 1px solid black;
  height: 55px;
}

.s {
  height: 190px;
}

.m {
  height: 250px;
}

.l {
  height: 400px;
}

.footer > div {
  height: 20px;
  width: 180px;
}
