body {
  padding: 50px;
}
main {
  margin-top: 80px;
  padding: 50px;
  border: 1px solid dimgray;
}
.container {
  width: 640px;
  height: 490px;
  border: 1px solid dimgray;
  overflow: hidden;
  font-size: 0;
}
pre {
  border: 1px solid dimgray;
  padding: 20px;
  width: 290px;
}
.example {
  margin-left: 200px;
}
.box {
  width: 200px;
  height: 150px;
  border: 2px dashed green;
  font-size: 30px;
  line-height: 30px;
}
