main {
  border: 1px solid dimgray;
  padding: 30px;
  font-size: 1.2rem;
  line-height: 1.5rem;
}


li {
  font-size: 1.3rem;
  margin: 20px;
  
}
.ys {
  display: inline;
}

.myparagraph {
  font-size: 2rem;
  color: dimgray;
}

.kinderlied {
  font-size: 2rem;
  font-style: italic;
  display: flex;
}

.kinderlied div {
  margin-left: 5px;
  display: flex;
}

.sprueche {
  background-color: lavender;
  
  color: darkslategray;
}

.footer {
  margin-top: 30px;
  border-top: 2px solid dimgray;
}

.kinderlied > .green > div > div > div.notgreen {
  background-color: white !important;
}
