.flex-container-1 {
}

.flex-container-2 {
}

.flex-container-3 {
}

.flex-container-3 .box {
  height: unset;
}

.flex-container-4 { 
}

.flex-container-5 { 
  display: flex;
}

/** ÜBUNG WEINKARTE **/

.wine {
}

.wine-detail {
  display: flex;
}

.wine-amount {
}

.wine-price{
}

.flex-container-wine {
}

.wine-category {
}
