.container {
  display: grid;
  grid-template-areas: 
    'header header header'
    'nav content right'
    'nav footer footer';
  grid-template-rows: 80px auto 60px;
  grid-template-columns: 25% auto 20%;
}

.header {
  grid-area: header;
}
.right {
  grid-area: right;
}
.nav {
  grid-area: nav;
}
.content {
  grid-area: content;
}
.footer {
  grid-area: footer;
}
