/*
 * green: 
   color: #8fb061;
 * brown: 
   color: #8d3d0f;
 * gray: lightgray
 *
 * */

body {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5rem;
}

html {
}

/* MAIN SECTION */
body {
  margin: 30px 100px;
}
h1 {
  font-size: 2rem;
   color: #8fb061;
   width: 100%;
   border-bottom: 1px solid dimgray;
}
h2 {
  font-size: 1.5rem;
   color: dimgray;
   width: 100%;
}
h3 {
  font-size: 1.5rem;
   color: #8fb061;
   width: 100%;
   border-bottom: 1px solid dimgray;
}
h4 {
  font-size: 1.5rem;
  color: dimgray;
}

main {
  width: 100%;
}
.overview {
  padding: 0 20px;
  list-style: none;
  border-right: dashed 2px dimgray;
}
.overview > li {
  margin-bottom: 12px; 
}
.anchor {
  height: 120px;
}
.active {

}
.css_selector_list {
  font-size: 1.3rem;
  color: dimgray;
  line-height: 2rem;
  list-style: none;
}
a, a:visited {
  color: #8d3d0f;
}
li > a, a:visited {
  color: dimgray;
  text-decoration: none;
}
.active > a {
  font-weight: bold;
}
p {
  margin: 20px;
}
pre {
  border: 1px solid dimgray;
  padding: 20px;
}
.exampleCssSelector1{
  padding: 10px;
  border: 1px solid dimgray;
}
.exampleH1 {
  margin: 10px;
  font-size: 2rem;
  color: red;
}
.hintergrundblau {
  background-color: lightblue;
}

.marginb-100 {
  margin-bottom: 100px;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}
.flexrow {
  gap: 40px;
  display: flex;
}
