#maus.run {
  animation-name: escape;
}

@keyframes escape {
  0% {top: 0; left: 0}
 10% {top: 1100px; left: 0px }
 20% {top: 1100px; left: 150px }
 30% {top: 80px; left: 150px }
 40% {top: 80px; left: 1100px }
 50% {top: 380px; left: 1100px }
 60% {top: 380px; left: 650px }
 70% {top: 700px; left: 650px }
 80% {top: 700px; left: 1100px }
 100% {top: 1100px; left: 1100px }
}
